<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>CarShop - Róth Bence</title>
    </h:head>
    <h:body>
        <form action="CarShopRequest" method="GET">
            <table>
                <tr><td>Name:</td><td><input type="text" name="Name"/></td></tr>
                <tr><td>Model:</td><td><input type="text" name="ModelName"/></td></tr>
                <tr><td>Price:</td><td><input type="text" name="Price"/></td></tr>
                <tr><td><input type="submit" value="Post!"/></td></tr>
            </table>
        </form>
    </h:body>
</html>

